:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: #1a9de5;
  padding: 10px;
  border-radius: 2.5px;
  transition: 0.5s ease-out;
}

button:hover {
  transform: translateY(-5px);
}

button:disabled {
  cursor: no-drop;
  opacity: 0.3;
}

button:hover:disabled {
  transform: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
